    <div class="container-fluid">

        <div class="row">

            <div class="col-2" style="background-color: #EEEEEE;">

                <form class="form">

                    <div class="form-group">
                        <label>Background Image</label>
                        <input type="file" class="form-control" />


                    </div>

                </form>

            </div>

            <div class="col">

                <cover></cover>

            </div>

        </div>

    </div>
